
<div class="my-3 p-3 bg-body rounded shadow-sm" id="post{{ post['id'] }}">
    <h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Post title"
               value="{{ request.form['title'] or post['title'] }}"></input>
        <br>

        <label for="content">Post Content</label>
        <br>
        <textarea name="content"
                  placeholder="Post content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] or post['content'] }}</textarea>
        <br>
        <button type="button" class="btn btn-primary" 
                              hx-post="/{{ post['id'] }}/edit/" hx-target="#post{{ post['id'] }}" hx-swap=outerHTML>Submit</button>
        <button type="button" class="btn btn-secondary"
                              hx-get="/{{ post['id'] }}/post/" hx-target="#post{{ post['id'] }}" hx-swap=outerHTML>Cancel</button>
    </form>

    <hr>
    <form hx-post="{{ url_for('delete', id=post['id']) }}" hx-target="#post{{ post['id'] }}" hx-swap=outerHTML>
        <input type="submit" class="btn btn-danger"value="Delete Post"
                onclick="return confirm('Are you sure you want to delete this post?')">
    </form>
</div>
