
<div class="my-3 p-3 bg-body rounded shadow-sm" id="post{{ post['id'] }}">
  <h6 class="boder-bottom">{{ post['title'] }}</h6>
  <p class="pb-3 mb-0 small lh-sm border-bottom">
    <p class="pb-3 mb-0 small lh-sm">
      {{ post['created'] }}
    </p>
    <p class="pb-3 mb-0 small lh-sm">
      {{ post['content'] }}
    </p>
  </p>
  <button type="button" class="btn btn-primary btn-sm" hx-get="{{ url_for('edit', id=post['id']) }}" hx-target="#post{{ post['id'] }}" hx-swap=innerHTML>Edit</button>
</div>
